.App{
  width: 100%;
  height: auto;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  padding: 0;
  margin: 0;
  height: 100%;
}
html, body {
  /* Ensures the full height of the page is available */
  margin: 0;    /* Removes default margin */
}


main {
  flex: 1; /* This will push the footer to the bottom */
}
.page-container {
  background-image: url('../src/assets/loginB.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Center vertically */
  align-items: center;      /* Center horizontally */
  height: 100vh;            /* Full viewport height */
  text-align: center;       /* Center text */
  background-color:#04203b; /* Light background for visibility */
  color: rgb(172, 62, 164); /* Ensure text is visible */
  padding: 20px;
}